.jumbotron {
  display: flex;
  background-image: url('../assets/bg-intro-desktop.svg');
  background-position-x: 35em;
  background-position-y: -20em;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;

  .jumbotron-text {
    width: 50%;
  }
  .jumbotron-image {
    position: absolute;
    right: -130px;
    bottom: -165px;
  }
}

@media screen and (max-width: 1024px) {
  .jumbotron {
    background-position-x: 20em;
    background-position-y: -20em;
    .jumbotron-text {
      width: 40%;
    }
  }
}
